.heroContainer {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: inherit;

  .profilePicContainer {
    width: 75%;
  }

  .introContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 24px;
    margin-left: 1em;
    width: 100%;
    row-gap: 12px;

    .introText {
      margin-top: 1em;
      font-size: 24px;
    }

    .socials {
      display: flex;
      flex-direction: row;
      width: inherit;
      column-gap: 12px;
    }

    h1 {
      font-weight: bold;
      margin: 0;
    }
  }
}

@media only screen and (1024px >= width) {
  .heroContainer {
    .introContainer {
      font-size: 13px;

      .introText {
        font-size: 13px;
      }
    }
  }
}

@media only screen and (2560px > width >= 1440px) {
  .heroContainer {
    .introContainer {
      font-size: 18px;

      .introText {
        font-size: 18px;
      }
    }
  }
}
