.layoutContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 66%;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;

  font-family: "Visuelt Pro";
}
