.photographyContainer {
  position: absolute;
  left: 0;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;

  .photosContainer {
    display: grid;
    gap: 1em;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    overflow: hidden;
  }
}

@media only screen and (width <= 1440px) {
  .photographyContainer {
    .photosContainer {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

@media only screen and (width <= 1024px) {
  .photographyContainer {
    .photosContainer {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
