.photoContainer {
  position: relative;
  width: 325px;
  height: 325px;
  animation: fadeIn 2s;

  .caption: {
    // visibility: 0;
    font-size: 16px;
    opacity: 0;
  }

  &:hover img {
    filter: blur(5px);
    opacity: 0.4;
  }

  &:hover .caption {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    cursor: default;
  }
}

@media only screen and (width >= 2560px) {
  .photoContainer {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (width <= 1440px) {
  .photoContainer {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (width <= 1024px) {
  .photoContainer {
    width: 225px;
    height: 225px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
